.works-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;

    @media (min-width: 708px) {
        margin-top: 64px;
    }

    .works-header {
        padding-inline: 16px;

        display: flex;
        justify-content: space-between;

        .works-title {
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 3px;
            color: rgb(75, 85, 99);
            text-transform: uppercase;
        }

        .see-all-link {
            display: flex;
            align-items: center;

            .see-all-text {
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 1px;
                color: rgb(75, 85, 99);

                background-image: linear-gradient(to right, #9b64da, #3d49ee);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }

    .works-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (min-width: 708px) {
            flex-direction: row;
            gap: 16px;
        }
    }
}
