{
  "endOfLine": "lf",
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx", "twMerge"],
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^(react/(.*)$)|^(react$)",
    "",
    "^(next/(.*)$)|^(next$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "^@hooks/(.*)$",
    "",
    "^@configs/(.*)$",
    "",
    "^@store/(.*)$",
    "",
    "^@images/(.*)$",
    "",
    "^@icons/(.*)$",
    "",
    "^@fonts/(.*)$",
    "",
    "^@constants/(.*)$",
    "",
    "^@utils/(.*)$",
    "",
    "^@layouts/(.*)$",
    "",
    "^@templates/(.*)$",
    "",
    "^@components/(.*)$",
    "",
    "^@interfaces/(.*)$",
    "",
    "^@partials/(.*)$",
    "",
    "^@styles/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy",
    "^(?!.*[.]css$)[./].*$",
    ".css$",
    ".scss$"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
