.works-page {
  .levels {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .level {
      max-width: 80px;
      padding: 8px 8px;

      width: 100%;
      text-align: center;

      &.active {
        border-radius: 12px;
        border: 2px solid #262c78;
      }
    }
  }
}