.home-page {
  .profile-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    &-top {
      display: flex;
      gap: 16px;
      align-items: center;

      .profile-image {
        width: 96px;
        height: 96px;

        img {
          border-radius: 50%;
        }

      }

      .profile-name {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 4px;
      }

      .profile-bio {
        color: rgb(75, 85, 99);
        font-weight: 700;
        font-size: 16px;
      }
    }

    .profile-description {
      font-size: 20px;
      line-height: 29px;

      @media (max-width: 724px) {
        font-size: 17px;
      line-height: 24px;

      }
    }
  }

  .swiper {
    -webkit-mask-image: linear-gradient(to right,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 12.5%,
        rgb(0, 0, 0) 87.5%,
        rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 12.5%,
        rgb(0, 0, 0) 87.5%,
        rgba(0, 0, 0, 0) 100%);
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }
}


html {
  &.dark {
    .profile-wrapper-top {
      .name-and-bio {
        .profile-bio {}
      }
    }
  }

  &.light {
    .profile-wrapper-top {
      .name-and-bio {
        .profile-bio {
          color: #b0b0b0;
        }
      }
    }
  }
}