.work-cover-image {
    width: 60px;
    height: 60px;

    border-radius: 16px;
}

.work-views-icon {
    svg {}
}

.w-md-editor-fullscreen {
    padding: 16px 32px;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh;
}