.top-bg,
.bottom-bg {
  width: 100%;
  z-index: 1;
}

.top-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-10px);
  width: calc(100% + 20px);
}

.bottom-bg {
  position: relative;

  .footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}