.header {
  padding: 20px;

  nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 16px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(90, 90, 90, 0.2);
    border-radius: 12px;
    opacity: 1;
    visibility: visible;

    @media (max-width: 724px) {
      align-items: start;
      justify-content: flex-end;
    }

    .header-left {
      display: flex !important;
      justify-content: flex-start;
      visibility: visible;
      gap: 24px;
      opacity: 1;
      flex: 1;
      transition: opacity 0.2s ease-out;

      @media (max-width:724px) {
        display: none;
        justify-content: space-between;
        visibility: hidden;
        opacity: 0;
      }

      .nav-link {
        color: white;
        transition: color 0.2s ease-out;

        &:hover {
          color: #b3b3b3;
        }
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 16px;

      .language-switch {
        display: flex;
        width: 16px;
        height: 16px;
        cursor: pointer;
      }

      .dark-mode-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .socials {
        display: flex;
        align-items: center;
        gap: 16px;

        a {
          display: flex;
          align-items: center;
        }

      }

      .menu-icon {
        /*  md:hidden active */
        cursor: pointer;
        display: none;

        @media (max-width: 724px) {
          display: flex;
        }
      }
    }

    &.show-menu {
      flex-direction: row;
      align-items: flex-start;

      .header-left {
        flex-direction: column;
        display: flex !important;
        visibility: visible;
        opacity: 1;
      }

      .menu-icon {
        display: flex;
        justify-content: flex-end;
        // change order
      }
    }
  }
}

html {
  &.dark {
    .hamburger-menu {
      background-color: black;
    }

    .header nav {
      background-color: rgba(28, 22, 47, 0.4);
    }
  }

  &.light {
    .hamburger-menu {
      background-color: white;
    }

    .header nav {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .header {
      * {
        color: black !important;
      }
    }
  }
}