
.page-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    line-height: 1.4;
  
    h1 {
      font-size: 32px;
      font-weight: 700;
      background-image: linear-gradient(90deg,
          rgb(140, 44, 227) 0%,
          rgb(255, 36, 150) 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    p {
      font-size: 18px;
      max-width: 516px;
    }
  
    .divider {
      width: 50%;
    }
  }